# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models
models/*.pt
models/*.pth
models/*.h5

# YOLO Weights
*.pt
*.pth
*.onnx

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# YOLO Training Artifacts
runs/
*.cache